@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&family=Noto+Sans&family=Nunito+Sans&family=PT+Sans&family=Poppins:wght@300&family=Space+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	max-width: 1444px;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: hsl(27, 66%, 92%);
	height: 100vh;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	/*background:  grey;*/
	width: 500px;
	height: 400px;
}

header,main {
	padding: 10px 30px;
	border-radius: 10px;
	display: flex;
}

.attribution {
	margin-top: 100px;
}

header {
	background: hsl(10, 79%, 65%);
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-bottom: 10px;
}


span {
	font-size: 13px;
}

main {
	background: hsl(33, 100%, 98%);
	flex-direction: column;
}
main h1,p {
	color: hsl(25, 47%, 15%);
}

main span {
	color:  hsl(28, 10%, 53%);
}

.bottom > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom > div > div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.middle {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end;
	position: relative;
}

.middle_bar_box {
	height: 80%;
	margin: 50px 5px 0 5px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.bar {
	height: 100px;
	width: 40px;
	background-color: hsl(10, 79%, 65%);
	cursor: pointer;
	border-radius: 5px;
}


.cost{
	visibility: hidden;
	color: white;
	background-color: hsl(25, 47%, 15%);
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 1px 4px;
}

.bar:hover {
	opacity: 0.8;
}

.middle_bar_box:hover .cost{
	visibility: visible;
}

.wed {
	background: hsl(186, 34%, 60%);
}